# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
__mocks__

# production
/build
/src/utils/secrets

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
