.FourOhFourHeader {
    text-align: center;
    font-size: 100px;
}

.FourOhFourMessage {
    text-align: center;
    font-size: 30px;
}

.FourOhFourBackHome {
    text-align: center;
    font-size: 20px;
}
