@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  margin: 0;
  color: whitesmoke;
  background-color: #2a3344;
  opacity: 0.9;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

html,
#root {
  overflow: hidden;
  height: 100%;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: #5757e7
}

a:hover {
  transition-duration: 250ms;
  text-decoration: underline;
}